In [1]:
import recordlinkage

In [2]:
from recordlinkage.datasets import load_febrl2

In [106]:
df=load_febrl2()

In [6]:
df.size

50000

In [107]:
df

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id
rec_id,,,,,,,,,,
rec-2778-org,sarah,bruhn,44,forbes street,wintersloe,kellerberrin,4510,vic,19300213,7535316
rec-712-dup-0,jacob,lanyon,5,milne cove,wellwod,beaconsfield upper,2602,vic,19080712,9497788
rec-1321-org,brinley,efthimiou,35,sturdee crescent,tremearne,scarborough,5211,qld,19940319,6814956
rec-3004-org,aleisha,hobson,54,oliver street,inglewood,toowoomba,3175,qld,19290427,5967384
rec-1384-org,ethan,gazzola,49,sheaffe street,bimby vale,port pirie,3088,sa,19631225,3832742
...,...,...,...,...,...,...,...,...,...,...
rec-1487-org,thomas,green,44,tuthill place,holmeleigh,bonny hills,4740,vic,19420210,9334580
rec-1856-org,james,mcneill,42,archibald street,NaN,evans head,2250,nsw,19011207,4837378
rec-3307-org,paige,lock,7,a'beckett street,camboon,carina heights,2290,nsw,19871002,5142242
rec-227-org,antonio,collier,25,govett place,the rocks,broken hill,2304,qld,19400225,3973395
rec-1143-org,harry,ryan,30,van raalte place,anana,preston west,2572,wa,19250425,6392122

In [55]:
df['uniqcount']=df.groupby(['given_name','surname'])['soc_sec_id'].transform('count')

In [57]:
newdf=load_febrl2()

In [54]:
df[df['date_of_birth']=='19080712']

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id,uniqcount
rec_id,,,,,,,,,,,
rec-712-dup-0,jacob,lanyon,5,milne cove,wellwod,beaconsfield upper,2602,vic,19080712,9497788,2.0
rec-712-dup-1,jacob,lanyln,5,milne cove,wellwood,beaconsfieod upper,2602,vic,19080712,9497788,1.0
rec-712-dup-2,jac ob,lanyon,5,milne cove,NaN,oatlands,2602,vic,19080712,9497788,1.0
rec-712-org,jacob,lanyon,5,milne cove,wellwood,beaconsfield upper,2602,vic,19080712,9497788,2.0

In [59]:
newdf.groupby(['soc_sec_id']).transform('count')

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth
rec_id,,,,,,,,,
rec-2778-org,1,1,1,1,1,1,1,1,1
rec-712-dup-0,4,4,4,4,3,4,4,4,4
rec-1321-org,1,1,1,1,1,1,1,1,1
rec-3004-org,1,1,1,1,1,1,1,1,1
rec-1384-org,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...
rec-1487-org,1,1,1,1,1,1,1,1,1
rec-1856-org,1,1,1,1,0,1,1,1,1
rec-3307-org,1,1,1,1,1,1,1,1,1
rec-227-org,1,1,1,1,1,1,1,1,1
rec-1143-org,1,1,1,1,1,1,1,1,1

In [111]:
#lower casing the data
df =load_febrl2()
df=df.astype(str).apply( lambda x:x.str.lower())

In [116]:
#remove stopwords
from nltk.corpus import stopwords

In [118]:
stopwords=stopwords.words('english')

In [126]:
import nltk
from nltk import TreebankWordDetokenizer
#df['address_1_tokenize'] = nltk.word_tokenize(df['address_1'].astype(str))
df['address_1_tokenize'] = df['address_1'].apply(lambda x: nltk.word_tokenize(x))
df['address_1_clean'] = df['address_1_tokenize'].apply(lambda x: [word for word in x if word not in stopwords])
df['address_1_clean'] = df['address_1_clean'].apply(TreebankWordDetokenizer().detokenize)

In [127]:
## Getting only the numerics value
df['postcode'] = df['postcode'].str.strip()
df['postcode']=df['postcode'].str.findall('[0-9]+')
df['postcode'] = df['postcode'].str.join("")
df['postcode'] = df['postcode'].fillna("")
df.head

<bound method NDFrame.head of               given_name    surname street_number         address_1  \
rec_id
rec-2778-org       sarah      bruhn            44     forbes street
rec-712-dup-0      jacob     lanyon             5        milne cove
rec-1321-org     brinley  efthimiou            35  sturdee crescent
rec-3004-org     aleisha     hobson            54     oliver street
rec-1384-org       ethan    gazzola            49    sheaffe street
...                  ...        ...           ...               ...
rec-1487-org      thomas      green            44     tuthill place
rec-1856-org       james    mcneill            42  archibald street
rec-3307-org       paige       lock             7  a'beckett street
rec-227-org      antonio    collier            25      govett place
rec-1143-org       harry       ryan            30  van raalte place

                address_2              suburb postcode state date_of_birth  \
rec_id
rec-2778-org   wintersloe        kellerberrin     4510   vic      19300213
rec-712-dup-0     wellwod  beaconsfield upper     2602   vic      19080712
rec-1321-org    tremearne         scarborough     5211   qld      19940319
rec-3004-org    inglewood           toowoomba     3175   qld      19290427
rec-1384-org   bimby vale          port pirie     3088    sa      19631225
...                   ...                 ...      ...   ...           ...
rec-1487-org   holmeleigh         bonny hills     4740   vic      19420210
rec-1856-org          nan          evans head     2250   nsw      19011207
rec-3307-org      camboon      carina heights     2290   nsw      19871002
rec-227-org     the rocks         broken hill     2304   qld      19400225
rec-1143-org        anana        preston west     2572    wa      19250425

              soc_sec_id    address_1_tokenize   address_1_clean
rec_id
rec-2778-org     7535316      [forbes, street]     forbes street
rec-712-dup-0    9497788         [milne, cove]        milne cove
rec-1321-org     6814956   [sturdee, crescent]  sturdee crescent
rec-3004-org     5967384      [oliver, street]     oliver street
rec-1384-org     3832742     [sheaffe, street]    sheaffe street
...                  ...                   ...               ...
rec-1487-org     9334580      [tuthill, place]     tuthill place
rec-1856-org     4837378   [archibald, street]  archibald street
rec-3307-org     5142242   [a'beckett, street]  a'beckett street
rec-227-org      3973395       [govett, place]      govett place
rec-1143-org     6392122  [van, raalte, place]  van raalte place

[5000 rows x 12 columns]>

In [128]:
#removing irrelevant symbols
df['address_1_clean'] = df['address_1_clean'].str.replace("[\'\".,()*+&\/\-\\\+\!\%:;?]"," ")
df['address_2'] = df['address_2'].str.replace("[\'\".,()*+&\/\-\\\+\!\%:;?]"," ")

C:\Users\su003th\AppData\Local\Temp\ipykernel_11420\1216781276.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['address_1_clean'] = df['address_1_clean'].str.replace("[\'\".,()*+&\/\-\\\+\!\%:;?]"," ")
C:\Users\su003th\AppData\Local\Temp\ipykernel_11420\1216781276.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['address_2'] = df['address_2'].str.replace("[\'\".,()*+&\/\-\\\+\!\%:;?]"," ")

In [91]:
##Creating Index *Block*
from recordlinkage.index import Block
Block_Index_by_State = Block(left_on="state",right_on=None)
Block_Index_by_State_Pairs = Block_Index_by_State.index(df)

In [92]:
#Creating index SortedNeighbourhood
from recordlinkage.index import SortedNeighbourhood
Neighbour_Index_by_Name = SortedNeighbourhood(left_on="surname",right_on=None, window = 5)
Neighbour_Index_by_Name_Pairs = Neighbour_Index_by_Name.index(df)

In [93]:
#Combine the index Pairs Together
All_Index_Pairs = Block_Index_by_State_Pairs.append(Neighbour_Index_by_Name_Pairs)
#Remove duplicate Pairs 
All_Index_Pairs = All_Index_Pairs.drop_duplicates(keep='first')

In [94]:
## create similarity measure 
compare = recordlinkage.Compare()
compare.string('given_name','given_name', method='jarowinkler', label = 'given_name_score')
compare.string('surname','surname', method='jarowinkler', label = 'surname_score')
compare.string('street_number','street_number', method='levenshtein', label = 'street_number_score')
compare.string('address_1_clean','address_1_clean', method='jarowinkler', label = 'address_1_score')
compare.string('address_2','address_2', method='jarowinkler', label = 'address_2_score')
compare.string('suburb','suburb', method='jarowinkler', label = 'suburb_score')
compare.string('postcode','postcode', method='levenshtein', label = 'postcode_score')
compare.string('state','state', method='jarowinkler', label = 'state_score')
compare.string('date_of_birth','date_of_birth', method='levenshtein', label = 'date_of_birth_score')
compare.string('soc_sec_id','soc_sec_id', method='levenshtein', label = 'soc_sec_id_score')
comparison_vectors = compare.compute(All_Index_Pairs,df)

In [96]:
comparison_vectors.describe()

,given_name_score,surname_score,street_number_score,address_1_score,address_2_score,suburb_score,postcode_score,state_score,date_of_birth_score,soc_sec_id_score
count,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06,2.825974e+06
mean,4.108766e-01,4.109149e-01,1.204130e-01,5.645744e-01,4.557535e-01,4.604112e-01,1.658027e-01,9.802272e-01,4.130879e-01,1.285831e-01
std,2.254969e-01,2.259160e-01,2.208189e-01,1.134224e-01,1.707689e-01,1.406506e-01,1.822654e-01,1.382954e-01,1.381542e-01,1.206603e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.166667e-01,4.111111e-01,0.000000e+00,4.990385e-01,4.222222e-01,4.179894e-01,0.000000e+00,1.000000e+00,3.750000e-01,0.000000e+00
50%,4.666667e-01,4.555556e-01,0.000000e+00,5.611772e-01,4.777778e-01,4.777778e-01,2.500000e-01,1.000000e+00,3.750000e-01,1.428571e-01
75%,5.500000e-01,5.396825e-01,2.500000e-01,6.305556e-01,5.357143e-01,5.352564e-01,2.500000e-01,1.000000e+00,5.000000e-01,1.428571e-01
max,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [132]:
freshdf, links = load_febrl2(return_links=True)

In [134]:
duplicate_pairs_vectors = compare.compute(links,df)

In [135]:
duplicate_pairs_vectors

                               given_name_score  surname_score  \
rec-712-dup-1  rec-712-dup-0           1.000000       0.933333
rec-712-dup-2  rec-712-dup-0           0.961111       1.000000
               rec-712-dup-1           0.961111       0.933333
rec-712-org    rec-712-dup-0           1.000000       1.000000
               rec-712-dup-1           1.000000       0.933333
...                                         ...            ...
rec-1035-dup-0 rec-1035-org            0.444444       1.000000
rec-2915-org   rec-2915-dup-0          0.500000       1.000000
rec-678-dup-0  rec-678-org             1.000000       0.981818
rec-1250-org   rec-1250-dup-0          0.975000       1.000000
rec-526-dup-0  rec-526-org             1.000000       1.000000

                               street_number_score  address_1_score  \
rec-712-dup-1  rec-712-dup-0                   1.0         1.000000
rec-712-dup-2  rec-712-dup-0                   1.0         1.000000
               rec-712-dup-1                   1.0         1.000000
rec-712-org    rec-712-dup-0                   1.0         1.000000
               rec-712-dup-1                   1.0         1.000000
...                                            ...              ...
rec-1035-dup-0 rec-1035-org                    1.0         1.000000
rec-2915-org   rec-2915-dup-0                  1.0         1.000000
rec-678-dup-0  rec-678-org                     0.0         0.985714
rec-1250-org   rec-1250-dup-0                  0.5         0.986667
rec-526-dup-0  rec-526-org                     1.0         1.000000

                               address_2_score  suburb_score  postcode_score  \
rec-712-dup-1  rec-712-dup-0          0.975000      0.977778             1.0
rec-712-dup-2  rec-712-dup-0          0.000000      0.527778             1.0
               rec-712-dup-1          0.000000      0.500926             1.0
rec-712-org    rec-712-dup-0          0.975000      1.000000             1.0
               rec-712-dup-1          1.000000      0.977778             1.0
...                                        ...           ...             ...
rec-1035-dup-0 rec-1035-org           1.000000      0.985714             1.0
rec-2915-org   rec-2915-dup-0         1.000000      0.450000             1.0
rec-678-dup-0  rec-678-org            1.000000      1.000000             1.0
rec-1250-org   rec-1250-dup-0         1.000000      1.000000             1.0
rec-526-dup-0  rec-526-org            0.989474      1.000000             1.0

                               state_score  date_of_birth_score  \
rec-712-dup-1  rec-712-dup-0           1.0                1.000
rec-712-dup-2  rec-712-dup-0           1.0                1.000
               rec-712-dup-1           1.0                1.000
rec-712-org    rec-712-dup-0           1.0                1.000
               rec-712-dup-1           1.0                1.000
...                                    ...                  ...
rec-1035-dup-0 rec-1035-org            1.0                1.000
rec-2915-org   rec-2915-dup-0          1.0                1.000
rec-678-dup-0  rec-678-org             1.0                1.000
rec-1250-org   rec-1250-dup-0          1.0                0.375
rec-526-dup-0  rec-526-org             1.0                1.000

                               soc_sec_id_score
rec-712-dup-1  rec-712-dup-0                1.0
rec-712-dup-2  rec-712-dup-0                1.0
               rec-712-dup-1                1.0
rec-712-org    rec-712-dup-0                1.0
               rec-712-dup-1                1.0
...                                         ...
rec-1035-dup-0 rec-1035-org                 1.0
rec-2915-org   rec-2915-dup-0               1.0
rec-678-dup-0  rec-678-org                  1.0
rec-1250-org   rec-1250-dup-0               1.0
rec-526-dup-0  rec-526-org                  1.0

[1934 rows x 10 columns]

In [138]:
import pandas as pd
import numpy as np
duplicate_pairs = duplicate_pairs_vectors.reset_index()
duplicate_pairs_1 = duplicate_pairs["level_0"]+','+duplicate_pairs["level_1"]
duplicate_pairs_2 = duplicate_pairs["level_1"]+','+duplicate_pairs["level_0"]
final_duplicate_pairs = pd.DataFrame(duplicate_pairs_1.append(duplicate_pairs_2))
comparison_pairs = comparison_vectors.reset_index()
comparison_pairs['join_keys'] = comparison_pairs["rec_id_1"]+','+comparison_pairs["rec_id_2"]
# 1 represent Duplicates, 0 represent non duplicates
comparison_pairs['Label'] = np.where(comparison_pairs["join_keys"].isin(final_duplicate_pairs[0]),"1","0")
comparison_pairs.groupby(['Label'])['join_keys'].count()

C:\Users\su003th\AppData\Local\Temp\ipykernel_11420\3186482778.py:6: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final_duplicate_pairs = pd.DataFrame(duplicate_pairs_1.append(duplicate_pairs_2))

Label
0    2824073
1       1901
Name: join_keys, dtype: int64

In [139]:
## Model Training

import xgboost as xgb
from xgboost import XGBClassifier
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

#Index Composite Variables
Model_Data_Set = comparison_pairs.set_index(['join_keys','rec_id_1','rec_id_2'])

#Split Data Into Label and Features
y= Model_Data_Set.Label
x= Model_Data_Set.drop(['Label'],axis=1)

#Create Training & Test Set 
seed = 10
test_size = 0.4
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y,test_size=test_size, random_state=seed, stratify=y)

pd.Series(y_test).value_counts()

C:\Users\su003th\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

0    1129630
1        760
Name: Label, dtype: int64

In [140]:
#Apply XGB Model 

model= xgb.XGBClassifier(learning_rate = 0.05, n_estimators=300, max_depth=5)
model.fit(x_train, y_train)
print(model)

y_pred = pd.DataFrame(model.predict(x_test))
predictions = y_pred
predictions['predict'] = y_pred

dfcombine = pd.merge(x_test.reset_index(),predictions[['predict']],how='left',left_index= True, right_index = True)
dfcombine

C:\Users\su003th\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\sklearn.py:888: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)
C:\Users\su003th\AppData\Local\Programs\Python\Python310\lib\site-packages\xgboost\data.py:192: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index

[21:18:43] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.3.0/src/learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.05, max_delta_step=0, max_depth=5,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=300, n_jobs=8, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

,join_keys,rec_id_1,rec_id_2,given_name_score,surname_score,street_number_score,address_1_score,address_2_score,suburb_score,postcode_score,state_score,date_of_birth_score,soc_sec_id_score,predict
0,"rec-1876-org,rec-2133-org",rec-1876-org,rec-2133-org,0.527778,0.455556,0.000000,0.563416,0.555556,0.540741,0.00,1.0,0.375,0.142857,0
1,"rec-2528-org,rec-2903-org",rec-2528-org,rec-2903-org,0.447619,0.455556,0.000000,0.499038,0.000000,0.535354,0.00,1.0,0.250,0.285714,0
2,"rec-1629-org,rec-86-dup-0",rec-1629-org,rec-86-dup-0,0.000000,0.539683,0.000000,0.403963,0.460943,0.539683,0.00,1.0,0.375,0.142857,0
3,"rec-3000-org,rec-2121-org",rec-3000-org,rec-2121-org,0.539683,0.430556,0.500000,0.575163,0.481481,0.430303,0.25,1.0,0.500,0.000000,0
4,"rec-3973-org,rec-2506-org",rec-3973-org,rec-2506-org,0.595238,0.455556,0.333333,0.598214,0.661783,0.561688,0.00,1.0,0.500,0.142857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1130385,"rec-3199-org,rec-1982-org",rec-3199-org,rec-1982-org,0.638889,0.417989,0.000000,0.800769,0.500000,0.396970,0.00,1.0,0.500,0.000000,0
1130386,"rec-1143-org,rec-3156-org",rec-1143-org,rec-3156-org,0.447619,0.000000,0.500000,0.550595,0.455556,0.468254,0.00,1.0,0.500,0.000000,0
1130387,"rec-3901-org,rec-1404-org",rec-3901-org,rec-1404-org,0.786667,0.000000,0.000000,0.631849,0.491865,0.324074,0.00,1.0,0.375,0.142857,0
1130388,"rec-813-org,rec-3042-org",rec-813-org,rec-3042-org,0.458333,0.441667,0.000000,0.533761,0.000000,0.642857,0.25,1.0,0.500,0.142857,0
1130389,"rec-872-org,rec-2626-org",rec-872-org,rec-2626-org,0.527778,0.550000,0.250000,0.450980,0.309524,0.527778,0.25,1.0,0.375,0.000000,0

In [143]:
dfcombine.loc[dfcombine['predict']=='1']

,join_keys,rec_id_1,rec_id_2,given_name_score,surname_score,street_number_score,address_1_score,address_2_score,suburb_score,postcode_score,state_score,date_of_birth_score,soc_sec_id_score,predict
67,"rec-2044-dup-1,rec-2044-org",rec-2044-dup-1,rec-2044-org,1.000000,1.000000,0.333333,1.000000,0.984615,1.000000,1.0,1.0,1.000,1.000000,1
167,"rec-3739-dup-0,rec-3739-org",rec-3739-dup-0,rec-3739-org,1.000000,1.000000,1.000000,0.422222,0.422222,1.000000,0.5,1.0,1.000,1.000000,1
1224,"rec-2815-org,rec-2815-dup-0",rec-2815-org,rec-2815-dup-0,0.953333,1.000000,1.000000,0.985714,1.000000,1.000000,1.0,1.0,1.000,1.000000,1
1411,"rec-413-dup-2,rec-413-org",rec-413-dup-2,rec-413-org,0.000000,1.000000,0.000000,0.988889,1.000000,1.000000,1.0,1.0,1.000,1.000000,1
1437,"rec-3099-dup-2,rec-3099-dup-0",rec-3099-dup-2,rec-3099-dup-0,1.000000,0.961111,1.000000,0.951282,1.000000,1.000000,1.0,1.0,0.625,1.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1123947,"rec-1687-dup-3,rec-1687-dup-1",rec-1687-dup-3,rec-1687-dup-1,0.600000,1.000000,1.000000,0.979474,0.908333,1.000000,1.0,1.0,1.000,0.857143,1
1124277,"rec-1213-dup-4,rec-1213-dup-0",rec-1213-dup-4,rec-1213-dup-0,0.893333,0.441667,1.000000,1.000000,1.000000,1.000000,0.5,1.0,1.000,0.857143,1
1125011,"rec-588-dup-1,rec-588-org",rec-588-dup-1,rec-588-org,0.893333,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.0,1.000,1.000000,1
1127603,"rec-3272-dup-4,rec-3272-dup-1",rec-3272-dup-4,rec-3272-dup-1,1.000000,0.825000,1.000000,0.984615,0.989474,1.000000,1.0,1.0,1.000,1.000000,1
1129963,"rec-891-dup-0,rec-891-dup-2",rec-891-dup-0,rec-891-dup-2,0.975000,0.000000,1.000000,0.981818,1.000000,0.930556,1.0,1.0,1.000,0.000000,1

In [153]:
df.index
smalldf = df.filter (items = ['rec-2044-dup-1','rec-2044-org'], axis=0)
#df[df['rec_id'].astype(str).isin(['rec-2044-dup-1','rec-2044-org'])]

In [154]:
smalldf

,given_name,surname,street_number,address_1,address_2,suburb,postcode,state,date_of_birth,soc_sec_id,address_1_tokenize,address_1_clean
rec_id,,,,,,,,,,,,
rec-2044-dup-1,jed,marring,3,flegg crescent,withernhouse,hope valley,3161,nsw,19760927,5860010,"[flegg, crescent]",flegg crescent
rec-2044-org,jed,marring,183,flegg crescent,withern house,hope valley,3161,nsw,19760927,5860010,"[flegg, crescent]",flegg crescent